{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - TalkTin
    {% else %}
    Welcome to TalkTin!
    {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
<div class="container">

    <a class="navbar-brand" href="{{ url_for('index') }}">TalkTin:</a>

    <ul class="nav navbar-nav">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('explore') }}">Explore</a></li>
    {% if not current_user.is_anonymous %}
    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
    {% endif %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    {% else %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
    </ul>
    {% if g.search_form %}
    <form class="navbar-form navbar-right", method="get", action="{{ url_for('search') }}">
    {{ g.search_form.q(size=20, placeholder=g.search_form.q.label.text) }}
    </form>

    {% endif %}
    
</div>
</nav>
{% endblock %}

{% block content %}
<div class=container>
{% with messages = get_flashed_messages() %}
{% if messages %}

    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}

{% endif %}
{% endwith %}
{% block app_content %}
{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang){
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
                }).done(function(response){
                    $(destElem).text(response['text'])
                }).fail(function(){
                    $(destElem).text("Error: Could not contact server. JS")
                })
        }
    </script>
{% endblock %}
